backend/node_modules
frontend/node_modules
aulas/2 - Criando a base da aplicação _ Semana OmniStack 11.0.mp4
aulas/3 - Construindo a interface web _ Semana OmniStack 11.0.mp4
aulas/4 - Desenvolvendo o app mobile _ Semana OmniStack 11.0.mp4
aulas/5 - Funcionalidades avançadas _ Semana OmniStack 11.0.mp4
